<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"{% if settings.layout_enable_rtl %} dir="rtl"{% endif %}> <!--<![endif]-->
<head>
  {% capture get_content_for_header %}{{ content_for_header }}{% endcapture %}
  {% include 'head' %}
</head>
<body{% render 'layout-get-body-attributes' %}>
{% include 'layout-get-includes-start' %}
{%- if settings.product_show_custom_options and settings.product_enable_variants_section -%}
  {% section 'product-variants' %}
{%- endif -%}
{% sections 'header-group' %}
<main id="MainContent">
  {%- if request.page_type == 'page' or request.page_type == 'product' or request.page_type == 'cart' or request.page_type == 'list-collections' or request.page_type == 'article' or request.page_type == 'blog' -%}
    {% include 'breadcrumbs' %}
  {%- elsif request.page_type == 'collection' -%}
    <div id="CollectionBreadcrumbs">
      {% include 'breadcrumbs' %}
    </div>
  {%- endif -%}
  {{ content_for_layout }}
</main>
{% sections 'footer-group' %}
{% include 'popups' %}
{% include 'footbar' %}

{%- if settings.presentation_enable or template == 'product' and settings.product_info_page_show_usage_info_sidebar -%}
  {% include 'fixed-sidebar' %}
{%- endif -%}

{% include 'templates' %}
{% include 'layout-get-includes-end' %}
<!-- START APPS -->
{%- if settings.app_klarna_enable -%}
  <!-- start Klarna app -->
  <script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} window.KlarnaThemeGlobals.data_purchase_amount={{product.first_available_variant.price}};window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>
  <!-- end Klarna app -->
{%- endif -%}
{%- if settings.app_growave_enable -%}
  <!-- start Growave app -->
  {% capture the_snippet_content %}{% render 'socialshopwave-helper' %}{% endcapture %}
  {%- unless the_snippet_content contains 'Liquid error' -%}
    {{ the_snippet_content }}
  {%- endunless -%}
  <script>
    sswRun(function(){
      var intervalId = setInterval(function() {
        if(ssw('.ssw-stars.ssw-stars-large').length) {
          ssw('.ssw-stars.ssw-stars-large').on('click', function() {
            ssw('.product-page__tabs .tabs__btn[data-tab="reviews"]').click();
            ssw('html, body').animate({
              scrollTop: ssw("#ssw-widget-recommends-html").offset().top - 200
            }, 100);
          });
          clearInterval(intervalId);
        }
      },1000);
    });
  </script>
  <!-- end Growave app -->
{%- endif -%}
{%- if settings.reviews_type == 'loox' -%}
  {{ shop.metafields.loox["global_html_body"] }}
  <style>
    .loox-rating .loox-icon {
      font-size: 1.22em;
    }
    .loox-rating .loox-icon:not(:last-child) {
      margin-right: 5px;
    }
    .loox-rating span {
      margin-left: 2px;
      vertical-align: 2px;
    }
  </style>
{%- endif -%}
<!-- END APPS -->
<script>window.performance.mark('theme:DOM:loaded');</script>
{% comment %}
{% render 'js-api' %}
{% endcomment %}
</body>
</html>